
<html>
  <head>
      <title>{{ title }}</title>

  </head>
  <body>
    <h1>Event log for {{date}}</h1>
    <h3>General Stats</h3>

    <table>
      <tr>
        <td><strong>Total Number of events</strong></td>
        <td>{{meta.total_number_events}}</td>
      </tr>
    </table>
    <h3>Outliers</h3>
    <table style="width: 100%;">
      <tr>
        <th style="border: 1px solid #ddd; padding: 4px; text-align: left; border-collapse: collapse;">Name</th>
        <th style="border: 1px solid #ddd; padding: 4px; text-align: left; border-collapse: collapse;">Significance</th>
        <th style="border: 1px solid #ddd; padding: 4px; text-align: left; border-collapse: collapse;">Average</th>
        <th style="border: 1px solid #ddd; padding: 4px; text-align: left; border-collapse: collapse;">Value</th>
        <th style="border: 1px solid #ddd; padding: 4px; text-align: left; border-collapse: collapse;">Standard Deviation</th>
      </tr>
      {% for d in data %}
      <tr>
        <td width="20%" style="border-bottom: 1px solid #ddd; padding: 4px; text-align: left; border-collapse: collapse;">{{d.feed.name}}</td>
        <td width="20%" style="border-bottom: 1px solid #ddd; padding: 4px; text-align: left; border-collapse: collapse;">{{d.sig}}</td>
        <td width="20%" style="border-bottom: 1px solid #ddd; padding: 4px; text-align: left; border-collapse: collapse;">{{d.avg}}</td>
        <td width="20%" style="border-bottom: 1px solid #ddd; padding: 4px; text-align: left; border-collapse: collapse;">{{d.val}}</td>
        <td width="20%" style="border-bottom: 1px solid #ddd; padding: 4px; text-align: left; border-collapse: collapse;">{{d.dev}}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
<style>
html {
  font-family: "Courier New";
}

div {
  font-size: 10px;
}

table, h3, p {
  border-collapse: collapse;
  width: 100%;
}

h3 {
  /* padding: 20px; */
  text-decoration: underline;
}

.container {
  margin: auto;
}

th, td {
  border-bottom: 1px solid #ddd;
  padding: 4px;
  text-align: left;
}

th {
  border: 1px solid #ddd;
}

tr:nth-child(even) {background-color: #f2f2f2;}

</style>
